<div class="container">
    <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- /responsive nav button -->
        
        <!-- logo -->
        <div class="navbar-brand">
            <a [routerLink]="['/']">
                <img src="assets/images/logo.png" alt="">
            </a>
        </div>
        <!-- /logo -->
    </div>
    <!-- main menu -->
    <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <div class="main-menu">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"  >Beranda</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tentang <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a [routerLink]="['/sejarah']">Sejarah</a></li>
                            <li><a [routerLink]="['/jaringan']">Jaringan</a></li>
                            <li><a [routerLink]="['/program-kerja']">Program Kerja</a></li>
                            <li><a [routerLink]="['/susunan-pengurus']">Susunan Pengurus</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Berita <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a [routerLink]="['/berita/ekonomi-islam']">Ekonomi Islam</a></li>
                            <li><a [routerLink]="['/berita/pendidikan-islam']">Pendidikan Islam</a></li>
                            <li><a [routerLink]="['/tokoh']">Tokoh</a></li>
                            <li><a [routerLink]="['/siaran-pens']">Siaran Pens</a></li>
                        </ul>
                    </div>
                </li>
                <li><a [routerLink]="['/artikel']" routerLinkActive="router-link-active" >Artikel</a></li>
                <li><a [routerLink]="['/kegiatan']" routerLinkActive="router-link-active" >Kegiatan</a></li>
            </ul>
        </div>
    </nav>
</div>