<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Sejarah ICMI</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a [routerLink]="['/']">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-content">
                    <p>
                        Ikatan Cendekiawan Muslim Indonesia disingkat ICMI adalah sebuah organisasi cendekiawan muslim
                        di Indonesia.Kelahiran ICMI bukankah sebuah kebetulah sejarah belaka, tapi erat kaitannya dengan
                        perkembangan global dan regional di luar dan di dalam negeri. Menjelang akhir dekade 1980-an dan
                        awal dekade 1990-an, dunia ditandai dengan berakhirnya perang dingin dan konflik ideologi.
                    </p>
                    <p>
                        Seringin dengan itu semangat kebangkitan Islam di belahan dunia timur ditandai dengan tampilnya
                        Islam sebagai "ideologi peradaban" dunia dan kekuatan altenatif bagi perkembangan perabadan
                        dunia. Bagi Barat, kebangkitan Islam ini menjadi masalah yang serius karena itu berarti hegemoni
                        mereka terancam.
                    </p>
                    <p>
                        Apa yang diproyeksikan sebagai konflik antar peradaban lahir dari perasaan Barat yang subyektif
                        terhadap Islam sebagai kekuatan peradaban dunia yang sedang bangkit kembali sehingga mengancam
                        dominasi peradaban Barat. Kebangkitan umat Islam ditunjang dengan adanya ledakan kaum terdidik
                        (intelectual booming) yang di kalangan kelas menengah kaum santri Indonesia.
                    </p>
                    <p>
                        Program dan kebijakan Orde Baru secara langsung maupun tidak langsung telah melahirkan generasi
                        baru kaum santri yang terpelajar, modern, berwawasan kosmopolitan, berbudaya kelas menengah,
                        serta mendapat tempat pada institusi-institusi modern. Pada akhirnya kaum santri dapat masuk ke
                        jajaran birokrasi pemerintahan yang mulanya didominasi oleh 'kaum abangan' dan di beberapa
                        tempat oleh non muslim. Posisi demikian jelas berpengaruh terhadap produk-produk kebijakan
                        pemerintah.
                    </p>
                    <p>
                        Dengan kondisi yang membaik ini, maka pada dasa warsa 80-an mitos bahwa umat Islam Indonesia
                        merupakan "mayoritas tetapi secara teknikal minoritas" runtuh dengan sendirinya. Sementara itu,
                        pendidikan berbangsa dan bernegara yang diterima kaum santri di luar dan di dalam kampus telah
                        mematangkan mereka buka saja secara mental, tapi juga secara intelektual.
                    </p>
                    <p>
                        Dari mereka itulah lahir critical mass yang responsif terhadap dinamika dan proses pembangunan
                        yang sedang dijalankan dan juga telah memperkuat tradisi inteletual melalui pergumulan ide dan
                        gagasan yang diekpresikan baik melalui forum seminar maupun tulisan di media cetak dan
                        buku-buku.
                    </p>
                    <p>
                        Seiring dengan itu juga terjadi perkembangan dan perubahan iklim politik yang makin kondusif
                        bagi tumbuhnya saling pengertian antara umat Islam dengan komponen bangsa lainnya, termasuk yang
                        berada di dalam birokrasi.
                    </p>
                    <p>
                        ICMI dibentuk pada tanggal 7 Desember 1990 di sebuah pertemuan kaum cendekiawan muslim di Kota
                        Malang tanggal 6-8 Desember 1990. Di pertemuan itu juga dipilih Baharuddin Jusuf Habibie sebagai
                        ketua ICMI yang pertama.
                    </p>
                    <p>
                        Kelahiran ICMI berawal dari diskusi kecil di bulan Februari 1990 di masjid kampus Universitas
                        Brawijaya (Unibraw) Malang. Sekelompok mahasiswa merasa prihatin dengan kondiri umat Islam,
                        terutama kadernya "berserakannya" keadaan cendekiawan muslim, sehingga menimbulkan polarisasi
                        kepemimpinan di kalangan umat Islam. Masing-masing kelompok sibuk dengan kelompoknya sendiri,
                        serta berjuang secara parsial sesuai dengan aliran dan profesi masing-masing.
                    </p>
                    <p>
                        Dari forum itu kemudian muncul gagasan untuk mengadakan simposium dengan tema ?Sumbangan
                        Cendekiawan Muslim Menuju Era Tinggal Landas? yang direncanakan akan dilaksanakan pada tanggal
                        29 September ? 1 Oktober 1990. Mahasiswa Unibraw yang terdiri dari Erik Salman, Ali Mudakir, M.
                        Zaenuri, Awang Surya dan M. Iqbal berkeliling menemui para pembicara, di antaranya Immaduddin
                        Abdurrahim dan M. Dawam Rahardjo.
                    </p>
                    <p>
                        Dari hasil pertemuan tersebut pemikiran mereka terus berkembang sampai muncul ide untuk
                        membentuk wadah cendekiawan muslim yang berlingkup nasional. Kemudian para mahasiswa tersebut
                        dengan diantar Imaduddin Abdurrahim, M. Dawam Rahardjo dan Syafi'i Anwar menghadap Menristek
                        Prof. B.J. Habibie dan meminta dia untuk memimpin wadah cendekiawan muslim dalam lingkup
                        nasional.
                    </p>
                    <p>
                        Waktu itu B.J. Habibie menjawab, sebagai pribadi dia bersedia tapi sebagai menteri harus meminta
                        izin dari Presiden Soeharto. Dia juga meminta agar pencalonannya dinyatakan secara resmi melalui
                        surat dan diperkuat dengan dukungan secara tertulis dari kalangan cendekiawan muslim. Sebanyak
                        49 orang cendekiawan muslim menyetujui pencalonan B.J. Habibie untuk memimpin wadah cendekiawan
                        muslim tersebut.
                    </p>
                    <p>
                        Pada tanggal 27 September 1990, dalam sebuah pertemuan di rumahnya, B.J. Habibie memberitahukan
                        bahwa usulan sebagai pimpinan wadah cendekiawan muslim itu disetujui Presiden Soeharto. Dia juga
                        mengusulkan agar wadah cendekiawan muslim itu diberi nama "Ikatan Cendekiawan Muslim
                        se-Indonesia", disingkat ICMI.
                    </p>
                    <p>
                        Tanggal 28 September 1990, sejumlah cendekiawan muslim bertemu lagi dalam rangka persiapan
                        simposium yang akan diselenggarakan bulan Desember. Pada tanggal 25-26 November 1990, sekitar 22
                        orang cendekiawan yang akan membentuk wadah baru berkumpul di Tawangmangu, Solo dalam rangka
                        merumuskan beberapa usulan untuk GBHN 1993 dan pembangunan Jangka Panjang Tahap kedua 1993-2018
                        serta rancangan Program Kerja dan Struktur Organisasi ICMI.
                    </p>
                    <p>
                        Pelaksanaan simposium sempat terganggu oleh gugatan tentang rencana B.J. Habibie sebagai calon
                        Ketua Umum ICMI karena dia sebagai birokrat. Kepemimpinannya dikhawatirkan akan berdampak
                        negatif terhadap kebebasan para cendekiawan muslim.
                    </p>
                    <p>
                        Tanggal 30 November ? 1 Desember, panitia secara khusus mengadakan rapat untuk menjawab isu
                        negatif soal pemilihan Habibie. Dari pertemuan tersebut menghasilkan beberapa komitmen, pertama,
                        berdirinya ICMI merupakan ungkapan syukur umat Islam yang mempu melahirkan sarjana dan
                        cendekiawan.
                    </p>
                    <p>
                        Kedua, untuk memimpin ICMI diperlukan tokoh cendekiawan muslim yang reputasi nasional dan
                        internasinal serta dapat diterima oleh umat Islam, masyarakat Indonesia maupun pemerintah.
                        Ketiga, hanya Unibraw ?salah satu wahana keilmuan- yang cukup pantas melahirkan organisasi itu,
                        apalagi pemerkasanya adalah mahasiswa univeritas tersebut.
                    </p>
                    <p>
                        Halangan juga sempat datang dari aparat keamanan setempat. Dalam rapat gabungan antara
                        penyelenggara, pemda dan aparat keamanan di Surabaya, empat hari menjelang acara, aparat
                        keamanan menyoal pembentukan organisasi tersebut. ICMI, kata mereka harus diwaspadai. Tapi Abdul
                        Aziz Hosein yang menghadiri acara tersebut sebagai panitia penyelenggara mengatakan bagaimanapun
                        ICMI akan terbentuk karena presiden sudah menyetujui dan AD/ART-nya sudah disusun.
                    </p>
                    <p>
                        Tanggal 7 Desember 1990 merupakan lembaran baru dalam sejarah umat Islam Indonesia di era Orde
                        Baru, secara resmi Ikatan Cendekiawan Muslim se-Indonesia (ICMI) dibentuk di Malang. Saat itu
                        juga secara aklamasi disetujui kepemimpinan tunggal dan terpilih Bahharuddin Jusup Habibie
                        sebagai Ketua Umum ICMI yang pertama.
                    </p>
                    <p>
                        Dalam sambutannya dia mengatakan bahwa dengan berdirinya ICMI tidak berarti kita hanya
                        memperhatikan umat Islam, tetapi mempunyai komitmen memperbaiki nasib seluruh bangsa Indonesia,
                        karena itu juga merupakan tugas utama.
                    </p>
                </div>
                <ul class="social-share">
                    <h4>Share this info</h4>
                    <li>
                        <a href="#" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Google Plus">
                            <i class="ion-social-googleplus"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>