<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{title}}</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a [routerLink]="['/']">
                                <i class="ion-ios-home"></i>
                                Beranda
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6" *ngFor="let new of news">
                        <article class="wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                            <div class="blog-post-image">
                                <a [routerLink]="[new.id]"><img class="img-responsive" src="assets/images/portfolio/item-1.jpg" alt="" /></a>
                            </div>
                            <div class="blog-content">
                                <h2 class="blogpost-title">
                                    <a [routerLink]="[new.id]">{{new.title}}</a>
                                </h2>
                                <div class="blog-meta">
                                    <span>{{new.createdAt | date:'longDate'}}</span>
                                </div>
                                <p>
                                    {{new.shortDesc}}
                                </p>
                                <a [routerLink]="[new.id]"  class="btn btn-dafault btn-details">Lanjtukan Baca</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>