<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Susunan Pengurus ICMI</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a [routerLink]="['/']">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-content">
                    <p>
                        Ikatan Cendekiawan Muslim Indonesia disingkat ICMI adalah sebuah organisasi cendekiawan muslim
                        di Indonesia.Kelahiran ICMI bukankah sebuah kebetulah sejarah belaka, tapi erat kaitannya dengan
                        perkembangan global dan regional di luar dan di dalam negeri. Menjelang akhir dekade 1980-an dan
                        awal dekade 1990-an, dunia ditandai dengan berakhirnya perang dingin dan konflik ideologi.
                    </p>
                    <p>
                        Seringin dengan itu semangat kebangkitan Islam di belahan dunia timur ditandai dengan tampilnya
                        Islam sebagai "ideologi peradaban" dunia dan kekuatan altenatif bagi perkembangan perabadan
                        dunia. Bagi Barat, kebangkitan Islam ini menjadi masalah yang serius karena itu berarti hegemoni
                        mereka terancam.
                    </p>
                    <p>
                        Apa yang diproyeksikan sebagai konflik antar peradaban lahir dari perasaan Barat yang subyektif
                        terhadap Islam sebagai kekuatan peradaban dunia yang sedang bangkit kembali sehingga mengancam
                        dominasi peradaban Barat. Kebangkitan umat Islam ditunjang dengan adanya ledakan kaum terdidik
                        (intelectual booming) yang di kalangan kelas menengah kaum santri Indonesia.
                    </p>
                    <p>
                        Program dan kebijakan Orde Baru secara langsung maupun tidak langsung telah melahirkan generasi
                        baru kaum santri yang terpelajar, modern, berwawasan kosmopolitan, berbudaya kelas menengah,
                        serta mendapat tempat pada institusi-institusi modern. Pada akhirnya kaum santri dapat masuk ke
                        jajaran birokrasi pemerintahan yang mulanya didominasi oleh 'kaum abangan' dan di beberapa
                        tempat oleh non muslim. Posisi demikian jelas berpengaruh terhadap produk-produk kebijakan
                        pemerintah.
                    </p>
                </div>

                <ul class="social-share">
                    <h4>Share this info</h4>
                    <li>
                        <a href="#" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Google Plus">
                            <i class="ion-social-googleplus"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>