<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                            <span>Ikatan Cendekiawan Muslim Indonesia</span><br>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                            sebuah organisasi cendekiawan muslim di Indonesia.Kelahiran ICMI bukankah sebuah kebetulah sejarah belaka, tapi erat kaitannya dengan perkembangan global dan regional di luar dan di dalam negeri.
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" [routerLink]="['/sejarah']">Lanjutkan Baca</a>
                </div>
            </div>
        </div>
    </div>
</section>